@media (max-width: 578px) {
  .photo-description {
    margin-top: 1.5rem;
  }
}

.imagen {
  width: 100% !important;
}

.link-photo {
  color: #000;
}

.link-photo:hover {
  text-decoration: none;
}

.link-photo-volver {
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 0.3s ease;
  display: inline;
}

.link-photo-volver:active {
  text-decoration: none;
}

.link-photo-volver:visited {
  text-decoration: none;
}

.link-photo-volver:hover {
  text-decoration: none;
  color: #222222 !important;
}
