<div class="row" *ngIf="photoLoading">
  <div class="col mt-5 ">
    <app-loading></app-loading>
  </div>
</div>
<div class="row mt-3 animated fadeIn" *ngIf="!photoLoading">
  <div class="col-sm-6 ">
    <img src="assets/img/photos/{{ photo.imagen }}.jpg" class="imagen" />
  </div>
  <div class="col-sm-6 photo-description">
    <h2 class="">{{ photo.banda }}</h2>
    <hr />
    <p class="">
      <i class="fas fa-map-marker-alt text-primary"></i>&nbsp;&nbsp;{{
        photo.lugar
      }}
    </p>
    <p class="">
      <i class="far fa-calendar-alt text-primary"></i>&nbsp;&nbsp;{{
        photo.fecha | date: "dd - MM - y"
      }}
    </p>

    <p class="">
      <a [href]="photo.web" class="link-photo" target="_blank"
        ><i class="fas fa-external-link-alt text-primary"></i>&nbsp;&nbsp;Sitio
        Web</a
      >
    </p>
  </div>
</div>

<div class="row mt-3 mb-5" *ngIf="!photoLoading && photo !== null">
  <div class="col text-right">
    <h4 [routerLink]="['/']" class="link-photo-volver text-muted">
      <span class="arrow-volver"
        ><i class="fas fa-long-arrow-alt-left "></i
      ></span>
      Volver
    </h4>
  </div>
</div>

<div
  class="photo-not-found animated fadeIn"
  *ngIf="!photoLoading && photo == null"
>
  <div class="row mt-3 mb-5">
    <div class="col text-center ">
      <h2>404 - NOT FOUND</h2>
      <p class="">
        foto no encontrada
      </p>
    </div>
  </div>
  <div class="row mt-3 mb-5" *ngIf="!photoLoading">
    <div class="col text-center">
      <button
        type="button"
        class="btn btn-outline-secondary"
        [routerLink]="['/inicio']"
      >
        <i class="fas fa-home"></i>&nbsp; Volver al inicio
      </button>
    </div>
  </div>
</div>
