<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Rock or Die</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarColor03"
        aria-controls="navbarColor03"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
          <li data-toggle="collapse" data-target=".navbar-collapse.show">
            <a
              class="nav-link"
              [routerLink]="['/']"
              routerLinkActive="router-link-active"
              >Inicio</a
            >
          </li>

          <li data-toggle="collapse" data-target=".navbar-collapse.show">
            <a
              class="nav-link"
              [routerLink]="['/contacto']"
              routerLinkActive="router-link-active"
              >Contacto</a
            >
          </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
          <input
            class="form-control mr-sm-2"
            type="text"
            placeholder="buscar banda"
            (keyup.enter)="buscar(buscarInput.value)"
            #buscarInput
          />
        </div>
      </div>
    </div>
  </nav>
</header>
