<section class="ae-container-fluid ae-container-fluid--full animated fadeIn">
  <div></div>
  <!-- <div
    class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner animated fadeIn"
    *ngIf="photo"
  >
    <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
      <div class="ae-grid__item item-lg-5 au-lg-ptp-1">
        <h4 class="ae-u-bolder">{{ photo.banda }}</h4>
        <p class="ae-eta">{{ photo.lugar }}</p>
        <p class="ae-eta">{{ photo.fecha }}</p>
        <p class="au-underline rk-portfolio-inner-website ">
          <a href="#0" class="ae-kappa">{{ photo.web }}</a>
        </p>
      </div>
      <div class="ae-grid__item item-lg-6 item-lg--offset-1">
        <img src="assets/img/photos/{{ id }}.jpg" alt="Urku Portfolio" />
      </div>
    </div>
  </div>
  <div class="ae-container-fluid au-pt-4 au-pb-4">
    <div class="group-buttons">
      <a
        [routerLink]="['/inicio']"
        routerLinkActive="router-link-active"
        class="au-mt-2 arrow-button arrow-button--right"
        >Volver<span class="arrow-cont">
          <svg><use xlink:href="assets/img/symbols.svg#arrow"></use></svg></span
      ></a>
    </div>
  </div> -->
</section>
