<section class="ae-container-fluid ae-container-fluid--full">
  <div class="item-inside__meta">
    <h1 class="ae-u-bolder rk-portfolio-title ">Contacto</h1>
    <br />
    <p class="ae-theta rk-portfolio-category ">
      Puedes ponerte en contacto conmigo a traves de mis redes sociales
    </p>
  </div>
  <div class="ae-grid ae-grid--alt au-xs-ptp-1" align="center">
    <div class="ae-grid__item--alt item-lg-4">
      <img src="assets/img/facebook.svg" alt="" width="25%" />
      <h5 class="ae-u-bolder au-mt-2">/rockoordie</h5>
      <br />
    </div>
    <div class="ae-grid__item--alt item-lg-4">
      <img src="assets/img/ig.svg" alt="" width="25%" />
      <h5 class="ae-u-bolder au-mt-2">rockoordie@gmail.com</h5>
      <br />
    </div>

    <div class="ae-grid__item--alt item-lg-4">
      <img src="assets/img/flickr.svg" alt="" width="25%" />
      <h5 class="ae-u-bolder au-mt-2">/rockoordie</h5>
      <br />
    </div>
  </div>

  <div class="item-inside__meta">
    <br />
    <br />
    <br />
    <br />
    <p class="ae-theta rk-portfolio-category titulo-contact">
      o tambien via email
    </p>
  </div>

  <div class="ae-grid ae-grid--alt au-xs-ptp-1" align="center">
    <div class="ae-grid__item--alt item-lg-4 item-lg--offset-4">
      <img src="assets/img/email.svg" alt="" width="25%" />
      <h5 class="ae-u-bolder au-mt-2">@rockordie_photos</h5>
    </div>
  </div>
</section>
