<section class="ae-container-fluid ae-container-fluid--full animated fadeIn">
  <div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">
    <div class="ae-grid ae-grid--collapse">
      <div class="ae-grid__item item-lg-6">
        <img src="assets/img/inner-3.jpg" alt="Urku Portfolio" />
      </div>
      <div class="ae-grid__item item-lg-5 item-lg--offset-1 au-lg-ptp-1">
        <h4 class="ae-u-bolder">Sobre Mi</h4>
        <p class="ae-eta">
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
          fugit.
        </p>
        <p class="ae-eta">
          It includes a A6 flyer, A5 folder, A4 horizontal paper and a business
          card mockup. You can easily put your own graphics and create a new
          layout according to your needs.
        </p>
      </div>
    </div>
  </div>
</section>
