<div class="contacto">
  <div class="row ">
    <div class="col text-center m-5">
      <h1>Contacto</h1>
      <p class="">
        Puedes ponerte en contacto conmigo a traves de mis redes sociales
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <a href=""
        ><span class="icon-contact text-muted"
          ><i class="fab fa-facebook-square fa-3x"></i></span
      ></a>
      <a href=""
        ><span class="icon-contact text-muted"
          ><i class="fab fa-instagram fa-3x"></i></span
      ></a>
      <a href=""
        ><span class="icon-contact text-muted"
          ><i class="fab fa-flickr fa-3x"></i></span
      ></a>
    </div>
  </div>
  <div class="row m-5">
    <div class="col text-center">
      tambien puedes enviarme un email a <b>rockoordie@gmail.com</b>
    </div>
  </div>
</div>
