<div class="animated fadeIn">
  <div class="item-inside__meta ">
    <h1 class="ae-u-bolder rk-portfolio-title ">Sobre Mi</h1>
    <!-- <p class="ae-theta rk-portfolio-category ">SOBRE MI</p> -->
  </div>
  <div class="ae-container-fluid ae-container-fluid--inner" *ngIf="_servicio">
    <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
      <div class="ae-grid__item item-lg-7 au-lg-ptp-1">
        <h4 class="ae-u-bolder">
          t(7) | i(4)<sup class="ae-mi"> offset 1</sup>
        </h4>
        <p>{{ _servicio._about.contenido }}</p>
      </div>
      <div class="ae-grid__item item-lg-4 item-lg--offset-1">
        <img [src]="_servicio._about.img_url" alt="Urku Portfolio" />
      </div>
    </div>
  </div>
</div>
