<footer class="container text-center mt-5" *ngIf="!loading">
  <div class="row  social-link">
    <div class="col">
      <a
        *ngFor="let icon of info.redes"
        [href]="icon.url"
        target="_blank"
        rel="noopener noreferrer"
        ><span class="icon-footer text-muted"
          ><i class="{{ icon.class }} fa-2x"></i></span
      ></a>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <small
        ><i class="far fa-copyright"></i>&nbsp;{{ info.titulo }}
        <i class="fas fa-grip-lines-vertical"></i>&nbsp;
        <a
          [href]="info.web"
          class="copy-fd"
          target="_blank"
          rel="noopener noreferrer"
          >fd-atanasoff</a
        ></small
      >
    </div>
  </div>
</footer>
