footer {
  /* display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: #233237;
  grid-row-start: 2;
  grid-row-end: 3; */
}

.icon-footer {
  padding: 0 5px;
  transition: all 0.3s ease-in;
}

.icon-footer:hover {
  color: #222222 !important;
}

.social-link {
  text-align: center;
}

.copy-fd {
  color: #222222 !important;
  transition: all 0.3s ease-in;
}

.copy-fd:hover {
  text-decoration: none;
  color: #000;
}
