<div class="container text-center">
  <footer class="">
    <div class="row mt-5 social-link">
      <div class="col">
        <a href=""
          ><span class="icon-footer text-muted"
            ><i class="fab fa-facebook-square fa-2x"></i></span
        ></a>
        <a href=""
          ><span class="icon-footer text-muted"
            ><i class="fab fa-instagram fa-2x"></i></span
        ></a>
        <a href=""
          ><span class="icon-footer text-muted"
            ><i class="fab fa-flickr fa-2x"></i></span
        ></a>
      </div>
    </div>
    <div class="row m-2">
      <div class="col">
        <span
          ><i class="far fa-copyright"></i>2019 -
          <a href="" class="copy-fd">fd-atanasoff</a></span
        >
      </div>
    </div>
  </footer>
</div>
